@model IMS.Domain.DTO.Command.UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <title>Login</title>
</head>
<body id="conatiner content align-items-center">
    
    <div class="box rounded-3  ">
        <div class="row m-auto px-3 py-4">
            <div class="col ms-5 mt-5">
                <div class="square">
                </div>
                <h3 class="my-3" style="font-size: 24px;">Login</h3>
                <p class="mt-3 mb-4" style="font-size: 15;">See your growth and get support!</p>

                <form asp-action="Login" asp-controller="Account" class="form-group mb-3">
                    <label for="email">Email*</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your Email", @class = "form-control w-75 mb-3", style = "border-color: #8F8F8F; background-color: #EDF0F2; height: 50px;" })
                    @Html.ValidationMessageFor(m => m.Email)
                    <label for="email">Password*</label>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your Password", @class = "form-control w-75", style = "border-color: #8F8F8F; background-color: #EDF0F2; height: 50px;" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <input type="submit" class="btn btn-lg rounded-3 w-50 mt-5" value="Login" style="background-color: #101540; color: white; font-size: 15px;" href="">
                </form>
                <span>Not regestered yet? </span> <a href="#" class="" style="color: #000;">Create a new account</a>
           </div>
           <div class="col" style="margin-right: 50px;margin-top: 50px;">
                <img src="/images/warehousebanner_.png" style="width: 100%; height: 100%;" alt="">
           </div>
        </div>
        
    </div>
    
    
</body>
</html>












@* 

<div class="container">
    <h1>Login</h1>
    @Html.ValidationSummary()
    <form asp-action="Login" asp-controller="Account" method="post">

        <div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.Email" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label asp-for="@Model.Password" class="col-lg-3 control-label"></label>
                <br>
                <div class="col-lg-9">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 btn-submit">
                    <button type="submit" class="btn btn-success">Login</button>
                    @* <a asp-action="Register" asp-controller="account">Don't have an account?Click to Register</a>

                </div>
            </div>
        </div>
    </form>
</div>   *@