@using IMS.Domain.Identity
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IMS.Domain.Models.Category>

   @inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-6 fw-bolder mb-4">Categories</h1>

@if (SignInManager.IsSignedIn(User))
{
    @if (User.FindFirst("UserRole").Value == "Admin")
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New Category</a>
        </p>
    }

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>

            <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if(User.FindFirst("UserRole").Value == "Admin")
                        {
                            <a asp-action="Edit" asp-controller="Categories" class="text-decoration-none" asp-route-id="@item.Id">Edit •</a>
                            <a asp-action="Details" asp-controller="Categories" class="text-decoration-none" asp-route-id="@item.Id">Details •</a>
                            <a asp-action="Delete" asp-controller="Categories" class="text-decoration-none" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
