@using IMS.Domain.Models;
@using System.Security.Claims
@model List<Product>;

    
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ">
    @if (((ClaimsIdentity)User.Identity).RoleClaimType.Equals("Admin"))
            {
                <div class="row w-50">
            <div class="col">
            
            <a class="btn btn-primary mb-3" asp-action="Create">Add new Product</a>
            </div>
        </div>
            }
        

        @{
            var counter = 0;
        }

        @foreach(var prod in Model)
        {

            if(counter%4==0)
            { 
                @:<div class="row text-center mb-5"> 
            }

            <div class="col-3">

                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="@prod.ProductImageUrl" style="height: 50%;" alt="Image for product!">

                    <div class="card-body">
                        <h3 class="card-title">@prod.ProductName</h3>
                        <p class="card-text">@prod.ProductDescription</p>


                        <h6>Price: $@prod.ProductPrice</h6>
                        <h6>Category: @prod.ProductCategory?.CategoryName</h6>
                        <h6>Category: @prod.ProductSupplier?.SupplierName</h6>
                    </div>

                    <div class="card-footer">
                    
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@prod.Id" class="btn btn-danger">Delete</a> 

                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@prod.Id" class="btn btn-secondary">Edit</a> 

                        @if (((ClaimsIdentity)User.Identity).RoleClaimType.Equals("Customer")){
                         <a asp-controller="Products" asp-action="AddCartProduct" asp-route-id="@prod.Id" class="btn btn-success">Add To Cart</a> 
                        }
                          <a asp-controller="Products" asp-action="AddProductInWarehouse" asp-route-id="@prod.Id" class="btn btn-primary">Add In Warehouse</a> 

                    </div>
                </div>

            </div>


            if(counter%4==3)
            { 
                @:</div> 
            }

            
            counter++;
        }

</div>