@model IEnumerable<IMS.Domain.Relationship.WarehouseProducts>

@{
    ViewData["Title"] = "GetAllWarehouseProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllWarehouseProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseProduct.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                @if(item.QuantityInStock < item.ReorderLimit){
                @Html.ActionLink("Reorder", "Reorder", new {  id=item.Id  }) 
                }
            </td>
        </tr>
}
    </tbody>
</table>
