@model IEnumerable<IMS.Domain.Relationship.WarehouseProducts>

@{
    ViewData["Title"] = "All Warehouse Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-5 fw-bolder mb-4">All Warehouse Products</h1>

<table class="table">
    <thead class="fs-6">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseProduct.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLimit)
            </td>
            <td class="text-decoration-none">
                    @Html.ActionLink("Delete Product", "DeleteProduct", new { id = item.Id }) •
                @if(item.QuantityInStock < item.ReorderLimit){
                @Html.ActionLink("Reorder", "Reorder", new {  id=item.Id  }) 
                }
            </td>
        </tr>
}
    </tbody>
</table>
