@model IEnumerable<IMS.Domain.Models.Warehouse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
