@using IMS.Domain.Identity
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IMS.Domain.Models.Warehouse>

   @inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Warehouses</h1>
@if (SignInManager.IsSignedIn(User))
{
    @if(User.FindFirst("UserRole").Value == "Admin")
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Add new Warehouse</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCity)
            </th>
            <th>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.FindFirst("UserRole").Value == "Admin")
                    {
                        <a class="btn btn-outline-success" asp-controller="Warehouses" asp-action="GetAllWarehouseProducts">All Warehouse Products</a>

                    }
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCity)
            </td>
            <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.FindFirst("UserRole").Value == "Admin")
                        {
                            <a asp-action="GetWarehouseProducts" class="text-decoration-none" asp-route-id="@item.Id">Products •</a>
                            <a asp - action = "Edit" class="text-decoration-none" asp-route-id="@item.Id">Edit •</a>
                            <a asp-action="Delete" class="text-danger text-decoration-none" asp-route-id="@item.Id">Delete</a>
                }
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
